doctype html
html
	head
		meta(charset='utf-8')
	body
		h2 로그인 화면 1
		form(action='/user/login' method='post')
				table
					tr
						td ID
					tr
						td
							input(type='text' size="20" name='id')
					tr
						td PASSWORD
					tr
						td
							input(type='password' size="20" name='password')
					if guide
						tr
							td= guide
					tr
						td
							input(type="submit" value=' 로그인 ')
					tr
						td
							a(href='/user/join' style="text-decoration : none; background-color : lightgrey; color : black") 회원가입