doctype html
html
	head
		meta(charset='utf-8')
	body
		h2 유저 화면 1-2-1
		br
		if user
			h3 아이디
			br
			h3= user_id
		br
		form(action='/user/profile' method='post')
			table
				tr
					td 비밀번호
				tr
					td
						input(type='text' size="20" name='password')
				if guide
					tr
						td= guide
				tr
					td
						input(type="submit" value='회원탈퇴')